body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(150deg,#6c3483, #346b83);
    height: 100vh;

}

#registerForm{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;

}


#registerForm h2{
   text-align: center; 
   padding: 0 0 20px 0;
   border-bottom: 1px solid silver;
}

#loginForm{position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-145%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;


}
#loginForm h2{
    text-align: center; 
   padding: 0 0 20px 0;
   border-bottom: 1px solid silver;

}
#registerForm form{
    padding: 0 0 40px;
    box-sizing: border-box;
}
form #nombre{
    position: relative;
    border-bottom: 2px solid #348383;
    margin: 5px 0;
}

form #apellidos{
    position: relative;
    border-bottom: 2px solid #348383;
    margin: 5px 0;

}


form #ciudad{
    position: relative;
    border-bottom: 2px solid #348383;
    margin: 5px 0;
}

form #telefono{
    position: relative;
    border-bottom: 2px solid #348383;
    margin: 5px 0;

}
form #email{
    position: relative;
    border-bottom: 2px solid #348383;
    margin: 5px 0;

}
form #password{
    position: relative;
    border-bottom: 2px solid #348383;
    margin: 5px 0;


}







